body {
  font-family: Roboto;
}

header,
main,
footer {
  max-width: 640px;
  margin: 1rem auto;
  border: 1px black dotted;
  padding: 30px;
  background-color: rgb(163, 191, 214);
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

section {
  padding: 1rem;
  background-color: #fff;
}
