:root {
    --my-purple: #cfc2ff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 30px;
    text-align: center;
    background-color: var(--my-purple);
    font-family: "Volkhov";
}

main {
    width: 100%;
    text-align: center;
}

form {
    max-width: 450px;
    text-align: left;
    padding: 10px;
    margin: 0 auto;
}

fieldset {
    margin: 2rem 0;
    border: 1px solid black;
    border-radius: 10px;
    padding: .5rem 2%;
    background-color: #a4eaff;
    font-family: "Iceland";
    font-size: 1.3em;
}

p {
    margin-top: 12px;
    font-family: "Iceland";
}

div  {
    margin-top: 12px;
}

.rating {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
}

.rating p {
    display: block;
}

.rating label {
    flex-direction: row;
    display: inline;
}

label {
    display: block;
}


select, input[type="date"], 
input[type="text"],
textarea {
    display: block;
    height: 2rem;
    width: 100%;
    border-radius: 5px;
    max-width: 400px;
    background-color: #fffed0;
    font-family: "Iceland";
    font-size: .7em;
}

input[type="date"], 
input[type="text"],
textarea {
    padding: 1.5rem;
}

#written-review {
    height: 5rem;
    margin-bottom: 12px;
}

input[type="radio"] {
    display: block;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    height: 3rem;
    width: 100%;
    border-radius: 10px;
    background-color: #a4eaff;
    font-size: 2em;
    margin-bottom: 50px;
    font-family: "Iceland";
}

body {
    background-color: #201d36;
}

.card {

    border: 2px solid var(--my-purple);
    max-width: 400px;
    margin: 0 auto;
    padding: 40px;
    border-radius: 10px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: #fffed0;
    font-size: 1.3em;
}

.card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: var(--my-purple);
}

.card a:hover {
    color: black;
}

footer {
  position: relative;
  bottom: 0%;
  width: 100%;
  padding: 30px;
  text-align: center;
  font-size: 1.25em;
  font-family: "Iceland";
  background-color: var(--my-purple);
}